// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body { background-color: tomato; text-align: center; padding-top: 100px; font-family: georgia; }
input[type='text'] { padding: 10px; margin: 25px; width: 50%; border: 0px; color: black; font-size: 2em; font-family: sans-serif; text-align: center; background-color: white; height: 80px; line-height: 80px; }
