<!DOCTYPE html>
<html>
<head>
  <title>le.ro</title>
  <%= stylesheet_link_tag    "canvas", :media => "all" %>
  <%= javascript_include_tag "canvas" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
